<!DOCTYPE html>
<html lang='es'>
<head>
    <title>mi título</title>
    <meta charset='UTF-8'>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4' crossorigin='anonymous'>
   
</head>
<body>
    

    <div class="container-fluid">
            <div class="p-3 mb-2 bg-primary text-white">Probando Vue 2.2.0</div>
           
    </div>

    
        <div class="container" id="main">
          
                <div class="card">
                        <div class="card-header">
                         Imprimer arreglo y agregar valor
                        </div>
                        <div class="card-body">
                                <div >
                                    <ul>
                                        <li v-for="item in people"> {{ item }} </li>
                                    </ul>   
                                    <input class="form-control" class="col-sm" v-model="name" v-on:keyup.enter="addName">
                                </div>
                        </div>
                </div>
           <!-- otra caja de texto -->             
                <div class="card">
                        <div class="card-header">
                            Enlazar con V-BIND
                        </div>
                        <div class="card-body">
                         
                                    <input type="text" class="form-control" v-model="inputinfo">
                                    <p v-bind:title="inputinfo"><span  class="text-warning">texto de relleno..<span> <u> {{inputinfo}} </u></p>
                            
                        </div>
                </div>             
                      
           
        </div>    
            
              
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.0/vue.js"></script>

    <script type="text/javascript">
        new Vue({
            el:'#main',
            data:{
                people: ['Lynda','Isabella','Diana','Luisa'] , inputinfo:''
            },

            name:'',
            methods:
            {
                addName:  function() {
                        this.people.push(this.name);
                        this.name='';
                    }
            }

          
        });
    </script>
</body>